# taint the ci node + exclude it from epok load balancing
KUBELET_ARGS="--register-with-taints=node-role.kubernetes.io/ci=ci:NoSchedule --node-labels=node_role=ci,epok_exclude=true"

# steal these from the production cluster
MASTER0_IP="10.41.0.111"
DNSMASQ_IP="10.41.0.1"
KUBE_API_IP="100.41.0.1"
KUBE_DNS_IP="100.41.0.100"

# make sure the node uses the production DNS
NETWORK_GATEWAY="10.41.0.1"

# disable kube-proxy
WORKER_UNITS="containerd kubelet masquerade"
