[Unit]
Description=Add route to k8s service CIDR
After=snap.lxd.daemon.service
Requires=snap.lxd.daemon.service

[Service]
Environment=HOME=${HOME}
Environment=CLUSTER=${CLUSTER}
Type=oneshot
RemainAfterExit=yes
ExecStart=~/bin/kdo host::start
ExecStop=~/bin/kdo host::stop

[Install]
WantedBy=default.target
