# =Prepare
#
# During the "prepare" stage we pull essential kubernetes, etcd and docker
# binaries as well as generate TLS certificates for the cluster.
ETCD_VERSION="3.0.10"
KUBE_VERSION="1.4.1"
DOCKER_VERSION="1.12.1"

ETCD_TGZ="https://github.com/coreos/etcd/releases/download/v${ETCD_VERSION}/etcd-v${ETCD_VERSION}-linux-amd64.tar.gz"
KUBE_TGZ="https://github.com/kubernetes/kubernetes/releases/download/v${KUBE_VERSION}/kubernetes.tar.gz"
KUBE_REPO="https://storage.googleapis.com/kubernetes-release/release/v${KUBE_VERSION}/bin/linux/amd64"
DOCKER_TGZ="https://get.docker.com/builds/Linux/x86_64/docker-${DOCKER_VERSION}.tgz"

declare -a KUBE_BINS=(
  "kube-apiserver"
  "kube-controller-manager"
  "kube-scheduler"
  "kubectl"
  "kube-proxy"
  "kubelet"
)

# =Orchestrate
#
# The "orchestrate" stage uses the declared $VM_ENGINE to manage the lifecycle
# of worker and master nodes.
#
# Supported engines: lxd, docker
VM_ENGINE="docker"
VM_IFACE="eth0"

## ==Docker - nodes are launched as persistent docker containers
DOCKER_BASE_IMG="karelian/kubian:v2"
DOCKER_DNS_IMG="karelian/dnsdock:dev-amd64"
DOCKER_BRIDGE="docker0"

## ==LXD - nodes are launched as persistent LXD/LXC containers
LXD_BASE_IMG="kubuntu"
LXD_IMG_FROM="images:ubuntu/xenial" # ubuntu 16.04 amd64
LXD_PROFILE="kube-profile"

# =Provision
MASTER_UNITS="etcd kube-apiserver kube-controller-manager kube-scheduler"
WORKER_UNITS="docker kubelet kube-proxy"
WORKER_DOCKER_STORAGE_ENGINE="overlay"
KUBE_SERVICE_CLUSTER_IP_RANGE="10.32.0.0/24"
SECRET_TOKEN="ha1deU"
